= form_with(model: entry) do |form|
  - if entry.errors.any?
    %div{ style: "color: red" }
      %h2.example= pluralize(entry.errors.count, "error") + " prohibited this entry from being saved:"
      %ul
        = entry.errors.each do |error|
          %li= error.full_message
   
  .field
    = form.label :food_id
    = form.collection_select :food_id, Food.all, :id, :name, prompt: "Select a food"

  .field
    = form.label :quantity
    = form.number_field :quantity, step: "any", min: 0.1

  .field
    = form.label :consumed_at
    = form.datetime_local_field :consumed_at, value: DateTime.now.strftime('%Y-%m-%dT%H:%M')

  .actions
    = form.submit
